body {
    background : #131319;
    caret-color: white;
}

.post-card {
    background: #27292D;
    border: 2px solid #35373B;
    border-radius: 8px;
}
input::placeholder {
    color: #7F8084;
}
input {
    color: #7F8084 !important;
}
input:focus-visible{
    outline : none !important
}
.action-btn {
    color : #FFFFFF;
    background: #4A96FF;
}